<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adaptivehandyapps.ahapmdash"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application tools:replace="android:icon"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/ic_aha"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.adaptivehandyapps.ahaopsactivity.SiteListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.adaptivehandyapps.ahaopsactivity.SiteDetailActivity"
            android:label="@string/title_site_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adaptivehandyapps.ahaopsactivity.SiteListActivity" />
        </activity>
        <activity
            android:name="com.adaptivehandyapps.ahaopsactivity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adaptivehandyapps.ahaopsactivity.SiteListActivity" />
        </activity>
         <activity
            android:name="com.adaptivehandyapps.ahapmdash.AhaAccessActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
